.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: static;
    width: 330px;
    top: 40px;
    flex: none;
    margin: 20px 0px;
    border: 0;
}

.card-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
}

.card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.card-img-top {
    border-radius: 10px;
}

.card-category {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #78909C;
    margin: 0;
}

.card-price {
    background-color: #FFD600;
    font-family: 'Druk Text Wide';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
}