.card-title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: left;
}

.card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.card-img-top {
    border-radius: 10px;
}

.card-img-top:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-category {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #78909C;
    margin: 0;
}

.card-price {
    background-color: #FFD600;
    font-family: 'Druk Text Wide';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);  
}